:host {             // host targets selector: 'home'
    display: block;
    left: 0;
    width: 100%;    // takes parent width        
    height: 100%;   // takes parent height    
}
.center {
	display: flex;
	height: 800px;
	justify-content: center;
	align-items: center;
  }